.servHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../../assets/web-design-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servHeaderCont p {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.home:hover {
  transition: 0.5s;
  color: #1267d5;
  cursor: pointer;
}
.webDesign {
  margin: 10px 0 20px 0;
}
.webDesign h1 {
  color: #fff;
  font-weight: bolder;
  font-size: 3rem;

  text-align: center;
}
