.App {
  font-family: var(--moniz-font, "Kumbh Sans", sans-serif);
  color: var(--moniz-gray, #717178);
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}
.contact-page {
  text-align: center;
  max-width: 700px;
  margin: 10px auto;
  padding-top: 0%;
}
.contact-page .section-title {
  margin-bottom: 42px;
  margin-top: auto;
  padding: 0;
}

.contact-page .form {
  width: 100%;
}

.contact-page .section-title__tagline {
  display: inline-flex;
  color: var(--moniz-gray, #717178);
  font-size: 16px;
  align-items: center;
  line-height: 30px;
  margin-bottom: 6px;
  font-weight: 700;
}
.section-title .section_tagline {
  display: inline-flex;
  color: var(--moniz-gray, #717178);
  font-size: 16px;
  align-items: center;
  line-height: 30px;
  margin-bottom: 6px;
  font-weight: 700;
}
.section-title__title {
  margin: 0;
  font-weight: 700;
  color: var(--moniz-black, #09090a);
  font-size: 50px;
  line-height: 60px;
  background-color: #09090a;
}
.section-title .section-title__title {
  margin: 0;
  font-weight: 700;
  color: var(--moniz-black, #1a1f33);
  font-size: 50px;
  line-height: 60px;
}
.text1 {
  line-height: 2rem;
  color: gray;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.contact-page {
  position: relative;
  display: block;
  padding: 0;
}

.map {
  width: 100%;
}
.map iframe {
  width: 100%;
}
.btn1 {
  background-color: #1166d4;
  color: white;
  width: 150px;
}
@media only screen and (max-width: 767px) {
  */ .contact-page .section-title__title {
    font-size: 30px;
    line-height: 40px;
  }
}
