.FaqsBox {
  width: 50%;
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
}

.myAcordianContent {
  margin: 10px 0;
  width: 100% !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media only screen and (max-width: 700px) {
  .faqsParent {
    flex-direction: column;
  }
  .FaqsBox {
    width: 100%;
  }
}
