.sliderBox {
  width: 100%;
  height: 250px;
  padding: 10px;
}
.imgSlider {
  opacity: 0.5 !important;
  transition: 0.5s;
  border-radius: 50%;
}
.imgSlider:hover {
  transition: 0.7s !important;
  border-radius: 10%;
  opacity: 1 !important;
}
@media only screen and (max-width: 1050px) {
  .imgSlider {
    width: 30%;
  }
  .imgBox {
  }
}
@media only screen and (max-width: 600px) {
  .imgSlider {
    margin: 10px 0;

    height: 150px !important;
  }
  .imgBox {
    padding: 10px 0;
  }
}
